/* Elec Bus 1 */

#breaker_alt_field {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 40%);
}

#breaker_alt_field.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_warn {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(150%, 40%);
}

#breaker_warn.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_fuel_pump {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 162%);
}

#breaker_fuel_pump.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_beacon_light {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 162%);
}

#breaker_beacon_light.off {
    position: absolute;
    background-image: url(../images/Breaker5Off.png);
}

#breaker_land_light {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 162%);
}

#breaker_land_light.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_cabin_lights {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 162%);
}

#breaker_cabin_lights.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_flaps {
    position: absolute;
    background-image: url(../images/Breaker10On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 162%);
}

#breaker_flaps.off {
    background-image: url(../images/Breaker10Off.png);
}

#breaker_avn1 {
    position: absolute;
    background-image: url(../images/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 162%);
}

#breaker_avn1.off {
    background-image: url(../images/Breaker15Off.png);
}



/* Elec Bus 1 End ----------------------------------------- */

/* Elec Bus 2 */


#breaker_pitot_heat {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 289%);
}

#breaker_pitot_heat.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_nav_light {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 289%);
}

#breaker_nav_light.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_taxi_light {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 289%);
}

#breaker_taxi_light.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_strobe_light {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 289%);
}

#breaker_strobe_light.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_panel_lights {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_panel_lights.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_panel_lights {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_panel_lights.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_avn2 {
    position: absolute;
    background-image: url(../images/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 289%);
}

#breaker_avn2.off {
    background-image: url(../images/Breaker15Off.png);
}

/* ESS BUS */

#breaker_ess_pfd {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 40%);
}

#breaker_ess_pfd.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_ess_adc_ahrs {
    position: absolute;
    background-image: url(../images/Breaker10On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(825%, 40%);
}

#breaker_ess_adc_ahrs.off {
    background-image: url(../images/Breaker10Off.png);
}

#breaker_ess_nav1_eng {
    position: absolute;
    background-image: url(../images/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(914%, 40%);
}

#breaker_ess_nav1_eng.off {
    background-image: url(../images/Breaker15Off.png);
}

#breaker_ess_comm1 {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1012%, 40%);
}

#breaker_ess_comm1.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_ess_stdby_ind_lts {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1112%, 40%);
}

#breaker_ess_stdby_ind_lts.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_ess_stdby_battery {
    position: absolute;
    background-image: url(../images/Breaker20On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1204%, 40%);
}

#breaker_ess_stdby_battery.off {
    background-image: url(../images/Breaker20Off.png);
}

/* AVN bus ---------------------------------------*/
#breaker_avn1_pfd {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 162%);
}

#breaker_avn1_pfd.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_avn1_pfd {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 162%);
}

#breaker_avn1_pfd.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_avn1_pfd {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 162%);
}

#breaker_avn1_pfd.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_avn1_adc_ahrs {
    position: absolute;
    background-image: url(../images/Breaker10On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(825%, 162%);
}

#breaker_avn1_adc_ahrs.off {
    background-image: url(../images/Breaker10Off.png);
}


#breaker_avn1_nav1_eng {
    position: absolute;
    background-image: url(../images/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(920%, 162%);
}

#breaker_avn1_nav1_eng.off {
    background-image: url(../images/Breaker15Off.png);
}

#breaker_avn1_fis {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1015%, 162%);
}

#breaker_avn1_fis.off {
    background-image: url(../images/Breaker5Off.png);
}

/* AVN bus 2 --------------------------------*/
#breaker_mfd {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 289%);
}

#breaker_mfd.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_xpndr {
    position: absolute;
    background-image: url(../images/Breaker3On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(825%, 289%);
}

#breaker_xpndr.off {
    background-image: url(../images/Breaker3Off.png);
}

#breaker_nav2 {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(914%, 289%);
}

#breaker_nav2.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_comm2 {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1012%, 289%);
}

#breaker_comm2.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_audio {
    position: absolute;
    background-image: url(../images/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1119%, 289%);
}

#breaker_audio.off {
    background-image: url(../images/Breaker5Off.png);
}

#breaker_auto_pilot {
    position: absolute;
    background-image: url(../images/BreakerAutoPilot.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1228%, 289%);
}

#breaker_auto_pilot.off {
    background-image: url(../images/BreakerAutoPilotOff.png);
}


/* SWITCHES */






