/* Elec Bus 1 */

#breaker_alt_field.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 40%);
}

#breaker_alt_field.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 40%);
}

#breaker_warn.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(150%, 40%);
}

#breaker_warn.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(150%, 40%);
}

#breaker_fuel_pump.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 162%);
}

#breaker_fuel_pump.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 162%);
}

#breaker_beacon_light.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 162%);
}

#breaker_beacon_light.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 162%);
}

#breaker_land_light.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 162%);
}

#breaker_land_light.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 162%);
}

#breaker_cabin_lights.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 162%);
}

#breaker_cabin_lights.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 162%);
}

#breaker_flaps.off {
    position: absolute;
    background-image: url(../images2/Breaker10Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 162%);
}

#breaker_flaps.on {
    position: absolute;
    background-image: url(../images2/Breaker10On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 162%);
}

#breaker_avn1.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 162%);
}

#breaker_avn1.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 162%);
}

/* Elec Bus 1 End ----------------------------------------- */

/* Elec Bus 2 */

#breaker_pitot_heat.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 289%);
}

#breaker_pitot_heat.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(54%, 289%);
}

#breaker_nav_light.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 289%);
}

#breaker_nav_light.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(154%, 289%);
}

#breaker_taxi_light.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 289%);
}

#breaker_taxi_light.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(241%, 289%);
}

#breaker_strobe_light.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 289%);
}

#breaker_strobe_light.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(337%, 289%);
}

#breaker_panel_lights.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_panel_lights.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_panel_lights.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_panel_lights.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(427%, 289%);
}

#breaker_avn2.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 289%);
}

#breaker_avn2.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(517%, 289%);
}

/* ESS BUS */

#breaker_ess_pfd.off {
    position: absolute;
    background-image: url(../images2/Breaker5Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 40%);
}

#breaker_ess_pfd.on {
    position: absolute;
    background-image: url(../images2/Breaker5On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(730%, 40%);
}

#breaker_ess_adc_ahrs.off {
    position: absolute;
    background-image: url(../images2/Breaker10Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(825%, 40%);
}

#breaker_ess_adc_ahrs.on {
    position: absolute;
    background-image: url(../images2/Breaker10On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(825%, 40%);
}

#breaker_ess_nav1_eng.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(914%, 40%);
}

#breaker_ess_nav1_eng.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(914%, 40%);
}

#breaker_ess_comm1.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1012%, 40%);
}

#breaker_ess_comm1.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1012%, 40%);
}

#breaker_ess_stdby_ind_lts.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1112%, 40%);
}

#breaker_ess_stdby_ind_lts.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1112%, 40%);
}

#breaker_ess_stdby_ind_lts.off {
    position: absolute;
    background-image: url(../images2/Breaker15Off.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1112%, 40%);
}

#breaker_ess_stdby_ind_lts.on {
    position: absolute;
    background-image: url(../images2/Breaker15On.png);
    background-size: 100% 100%;
    padding-top: 8%;
    background-repeat: no-repeat;
    width: 7%;
    transform: translate(1112%, 40%);
}












