html {
	width: 100%;
	height: 100%;
}

body {
	top: 0;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #333333;
}

.container {
	display: -webkit-flex; /* Safari Compat */
	-webkit-justify-content: flex-center; /* Safari Compat */
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;
	text-align: center;	
}

.hidden {
	display: none;
}


/* HEADER STYLES */
header {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

#nav_list {
	list-style: none;
}

#nav_list > li {
	display: -webkit-flex; /* Safari Compat */
	-webkit-justify-content: flex-center; /* Safari Compat */
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	min-width: 6vw;
	min-height: 50px;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 0 .25vw 0 .25vw;
	color: #DDD;
	background: #555555;
	border: 1px solid black;
	border-radius: 0px 0px 4px 4px;

}

#nav_list > li:hover {
	background: #666666;
}

#nav_list > li > img {
	float: left;
	max-height: 50px;
}

#nav_list > li > span {
	float: right;
	margin-left: 5px;
  	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

/* MAIN CONTENT STYLES */
main {
	width: 100%;
	margin-top: 1vh;
}

#svg_wrapper{
    display: flex;
    flex-direction: column;
	position: relative;
    width: 100%;
    max-height: 70%;
	/*width: 55vw;*/
	margin: auto;
	background-color: white;
	border: 2px solid black;
	border-radius: 8px;
}

#svg_wrapper svg {
    display: flex;
	height: 100%;
	width: 100%;
}

#svg_wrapper>p {

	margin-top: 10px;
	font-weight: bold;
	font-size: 25px;
	height: 50px;
	width: 100%;
}

/* FOOTER STYLES */
footer {
	width: 100%;
	margin-top: 1vh;
	text-align: center;
}


#panel_list {
	display: inline-block;
	list-style: none;
} 

#panel_list > li {
	float: left;
	margin: 0 .1vw 0 .1vw;
}




/*Class for all lower box headers*/
.box_container {
	border: 2px solid black;
	background-color: #777777;
}

.box_header{
	padding: 2px;
	border-bottom: 1px solid black;
    color: white;                
    background-color: red;
	font-weight: bold;
    cursor: move;
}

.box_content {
	height: auto;
	overflow: auto;
	padding: 2px;
}

.box_content img:first-of-type{
	display: block;
	width: 100%;
	height: auto;
}

#master_switch_alt {
	position: absolute;
	top: 149px;
    left: 38px;
    width: 14px;
    height: 51px;
}

#master_switch_bat {
	position: absolute;
	top: 149px;
    left: 52px;
    width: 14px;
    height: 51px;
	
	background-repeat: no-repeat;
}

/*Styling for the master Switch Off image  -- .master_switch_bat*/
.master_switch_off_alt{
    background-image: url(../images/masterOff.jpg);       
}

/*Styling for the master Switch On image */
.master_switch_on_alt{
    background-image: url(../images/masterOn.jpg);      
}

/*Styling for the master Switch Off image  -- BAT*/
.master_switch_off_bat{
    background-image: url(../images/masterOff.jpg);     
}

/*Styling for the master Switch On image -- BAT*/
.master_switch_on_bat{
    background-image: url(../images/masterOn.jpg);      
}

/*Styling for the 'x' that appears in the corner of each header*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: default;
}

.close:hover {
    background-color: #aaaaaa;
    color: black;
}

/* Styling for information panel anchor */
.info_panel_anchor {
	display: block;
	position: absolute;	
	z-index: 10;
	width: 3vh;
	height: 3vh;
	background: rgba(0, 0, 0, 0);
	border-radius: 4px;
	border-color: rgba(0, 0, 0, .1);
}

.info_panel_anchor:hover {
	background: rgba(0, 0, 0, 0.1);
}

/* Styling for information panels */

.info_panel {
	display: block;
	position: absolute;
	z-index: 11;
	width: auto;
	height: auto;
	min-width: 7vw;
	min-height: 5vh;
	max-width: 10vw;
	color: #DDD;
	background-color: #555555;
	border: 1px solid black;
	border-radius: 4px;
}

.info_panel div {
	width: 100%;

	background-color: #777777;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding: 2px 0 2px 0;
}

.info_panel p {
	margin: 2px
}


/* Class for popup box header
.pop_up_header {
    height: 30px;
    color: white;
    width: inherit;                
    background-color: red;
    font-size: 20px;
    cursor: move;
}

/*Class to style pop_up panels
.pop_up_panel {
    position: absolute;
    top: 32px;
    left: 2px;
    width: 181px;
    height: 195px;
    background-color: gray;
    background-repeat: no-repeat;	
    overflow: hidden;                
}
*/


