html {
	min-height: 100%;
	min-width: 100%;
}

body {
	top: 0;
	min-height: 100%;
	min-width: 100%;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #333333;
}

.container {
	display: -webkit-flex; /* Safari Compat */
	-webkit-justify-content: flex-center; /* Safari Compat */
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;
	text-align: center;	
}

.draggable_handle {
	cursor: move;
}


/* HEADER STYLES */
header {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

#nav_list {
	list-style: none;
}

#nav_list > li {
	display: -webkit-flex; /* Safari Compat */
	-webkit-justify-content: flex-center; /* Safari Compat */
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	min-width: 6vw;
	min-height: 50px;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 0 .25vw 0 .25vw;
	color: #DDD;
	background: #555555;
	border: 1px solid black;
	border-radius: 0px 0px 4px 4px;
	transform: translateY(-2px);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

#nav_list > li:hover {
	background: #666666;
}

#nav_list > li:active {
	background-color: #666666;
	transform: translateY(-1px);
}

#nav_list > li > img {
	float: left;
	max-height: 50px;
}

#nav_list > li > span {
	float: right;
	margin-left: 5px;
  	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

/* MAIN CONTENT STYLES */
main {
	width: 100%;
	margin-top: 2px !important;
}

#svg_wrapper{
    	position: relative;
    	width: 1000px;
    	padding: 2%;
    	margin: auto;
    	background-color: white;
		
		border: 2px solid black;
		border-radius: 8px;
}

#svg_wrapper svg {
	height: 100%;
	width: 100%;
}

/* FOOTER STYLES */
footer {
	width: 100%;
	margin-top: 2px !important;
}

#panel_list {
	list-style: none;
} 

#panel_list > li {
	
	float: left;
	margin: 0 .1vw 0 .1vw;
}


/*Class for all lower box headers*/
.panel_container {
	border: 2px solid black;
	background-color: #777777;
}

.panel_header{
	padding: 2px;
	border-bottom: 1px solid black;
    color: white;                
    background-color: red;
	font-weight: bold;
}

.panel_content {
	height: auto;
	overflow: auto;
	padding: 2px;
}

.panel_content img:first-of-type{
	display: block;
	/*width: 100%;*/
	/*height: auto;*/
}

#master_switch_alt {
	position: absolute;
	top: 148px;
    left: 38px;
    width: 14px;
    height: 52px;

	padding: 25px 7px 24px 7px;
	background-repeat: no-repeat;
	background-size: auto;
}

#master_switch_bat {
	position: absolute;
	top: 148px;
	left: 53px;
    width: 14px;
    height: 52px;
	
	padding: 25px 7px 24px 7px;
	background-repeat: no-repeat;
	background-size: auto;
}

/*Styling for the master Switch Off image  -- .master_switch_bat*/
.master_switch_off_alt{
    background-image: url(../images/masterOff.jpg);       
}

/*Styling for the master Switch On image */
.master_switch_on_alt{
    background-image: url(../images/masterOn.jpg);      
}

/*Styling for the master Switch Off image  -- BAT*/
.master_switch_off_bat{
    background-image: url(../images/masterOff.jpg);     
}

/*Styling for the master Switch On image -- BAT*/
.master_switch_on_bat{
    background-image: url(../images/masterOn.jpg);      
}

/* Styling for the switch containers */
.switch_container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.switch_container > button {
	display: inline-block;
	float: left;
	padding: 1px;
	margin: 1px;
	background-color: #BBB;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
	z-index: 10;
}

.switch_container > button:hover {
	background-color: #DDD;
}

.switch_container > button:active {
	background-color: #DDD;
	box-shadow: 0 3px #666;
	transform: translateY(1px);
}



/*Styling for the 'x' that appears in the corner of each header*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
	margin-right: 2px;
}

.close:hover {
    color: #CCCCCC;
    float: right;
    transform: scale(0.9);
    font-weight: bold;
}

/* Styling for information pop-up anchors */
.info_panel_anchor {
	display: block;
	position: absolute;	
	z-index: 10;
	width: 3vh;
	height: 3vh;
	background: rgba(0, 0, 0, 0);
	border-radius: 4px;
	border-color: rgba(0, 0, 0, .1);
}

.info_panel_anchor:hover {
	background: rgba(0, 0, 0, 0.1);
}

.info_panel_anchor:active {
	background: rgba(0, 0, 0, 0.15);
}

/* Styling for information pop-ups*/
.info_panel {
	display: block;
	position: absolute;
	z-index: 11;
	width: auto;
	height: auto;
	min-width: 7vw;
	min-height: 5vh;
	max-width: 10vw;
	color: #DDD;
	background-color: #555555;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 2px 2px #222;
}


.info_panel div {
	width: 100%;
	background-color: #777777;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding: 2px 0 2px 0;
}

.info_panel p {
	margin: 2px
}

/* Class for popup box header
.pop_up_header {
    height: 30px;
    color: white;
    width: inherit;                
    background-color: red;
    font-size: 20px;
    cursor: move;
}

/*Class to style pop_up panels
.pop_up_panel {
    position: absolute;
    top: 32px;
    left: 2px;
    width: 181px;
    height: 195px;
    background-color: gray;
    background-repeat: no-repeat;	
    overflow: hidden;                
}
*/
