
#switch_beacon_light {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(33%, 52%);
}

#switch_beacon_light.on {
	background-image: url(../images/GreenSwitchOn.png);
}

#switch_nav_light {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(166%, 52%);
}

#switch_nav_light.on {
	background-image: url(../images/GreenSwitchOn.png);
}

#switch_strobe_light {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(300%, 52%);
}

#switch_strobe_light.on {
	background-image: url(../images/GreenSwitchOn.png);	
}

#switch_fuel_pump {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(33%, 195%);
}

#switch_fuel_pump.on {
	background-image: url(../images/GreenSwitchOn.png);	
}

#switch_pitot_heat {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(166%, 195%);
}

#switch_pitot_heat.on {
	background-image: url(../images/GreenSwitchOn.png);	
}

#switch_cabin_lights {
    position: absolute;
    background-image: url(../images/GreenSwitchOff.png);
    background-size: 100% 100%;
    padding-top: 23%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(300%, 195%);
}

#switch_cabin_lights.on {
	background-image: url(../images/GreenSwitchOn.png);		
}

#switch_land_light {
    position: absolute;
    background-image: url(../images/White3WayDown.png);
    background-size: 100% 100%;
    padding-top: 19%;
    background-repeat: no-repeat;
    width: 15%;
	transform: translate(430%, 72%);
}

#switch_land_light.taxi {
	background-image: url(../images/White3WayMid.png);
}

#switch_land_light.land {
	background-image: url(../images/White3WayUp.png)
}
